.Bgc\(\#ccc\) {
  background-color: #ccc;
}
.Bgc\(\#add8e6\) {
  background-color: #add8e6;
}
.Bgc\(\$primary\) {
  background-color: #f3f3f3;
}
.D\(ib\) {
  display: inline-block;
}
.D\(f\) {
  display: flex;
}
.Fw\(b\) {
  font-weight: bold;
}
.Fz\(30px\) {
  font-size: 30px;
}
.W\(1\/2\) {
  width: 50%;
}
.W\(1\/3\) {
  width: 33.3333%;
}
